<nav class="navbar navbar-expand-lg navbar-dark bg-light" style=" box-shadow: 5px 5px 4px goldenrod;">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
       <i style="margin-left: 1.5rem; margin-right: 1rem;font-size: 2rem; color: goldenrod;" class="fas fa-praying-hands"></i>
        <a class ="nav-link" *ngIf = "!_registerService.loggedIn()" routerLink="/login" routerLinkActive="active" style="color: black;">Login</a>
        <a class ="nav-link" *ngIf = "!_registerService.loggedIn()" routerLink="/register" routerLinkActive="active" style="color: black;">Register</a>
        <a class="nav-link" style="cursor: pointer" *ngIf = "_registerService.loggedIn()" (click)="_registerService.logoutUser()" style="color: black;">Logout</a>
        <a class="nav-link" style="cursor: pointer" *ngIf = "_registerService.loggedIn()" routerLink="/profile" style="color: black;">Profile</a>
        <a class="nav-link" style="cursor: pointer" *ngIf = "_registerService.loggedIn()" routerLink="/jewelry" style="color: black;">Jewelry</a>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
