<!--<div class="container-fluid" style="background-image: url('/assets/imgs/home-page.jpg'); background-size: cover; height: 91.5vh;">-->
  <br><br>
  <div class="container">
  <h2 style="text-align:center; margin-top: 6%;">Register </h2>
  <br>
    <form #registerform="ngForm" (ngSubmit)="register()">

      <small class="alert-danger">{{msg}}</small>
       <!--First Name-->
       <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your first name" name="firstName" [(ngModel)]="user1.firstName" required #firstname="ngModel"
        [class.is-invalid]="firstname.invalid && firstname.touched">
        <small class="text-danger" [class.d-none]="firstname.valid|| firstname.untouched">First Name is required field</small>
      </div>
      <br>
       <!--Last Name-->
       <div class="form-group">
         
        <input type="text" class="form-control" placeholder="Enter your last name" name="lastName" [(ngModel)]="user1.lastName" required #lastname="ngModel"
        [class.is-invalid]="lastname.invalid && lastname.touched">
        <small class="text-danger" [class.d-none]="lastname.valid|| lastname.untouched">Last Name is required field</small>
     
      </div><br>
       <!--Age-->
       <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your age" name="age" [(ngModel)]="user1.age" #age="ngModel">
      </div><br>
      <!--City-->
       <div class="form-group">
        <input type="text" class="form-control" placeholder="City" name="city" [(ngModel)]="user1.city" #city="ngModel">
      </div>
      <br>      
      <!--Email-->
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="user1.email" required
        pattern="\w+@[a-zA-z_]+?\.[a-zA-Z]{2,3}$"
        #email="ngModel"
         [class.is-invalid]="email.invalid && email.touched">
        <div *ngIf="email.errors && email.invalid && email.touched">
          <small class="text-danger"  *ngIf="email.errors.required">Email is required field</small>          
          <small class="text-danger"  *ngIf="email.errors.pattern">Enter the valid value of email</small>
        </div>
      </div>
      <br>
      <!--Username-->
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter username" name="username" [(ngModel)]="user1.username" required #username="ngModel"
        [class.is-invalid]="username.invalid && username.touched">
        <small class="text-danger" [class.d-none]="username.valid|| username.untouched">Username is required field</small>
      </div>
      <br>
      <!--Password-->
      <div class="form-group">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" [(ngModel)]="user1.password" required #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
      </div>
      <br>
      <!--Confirm Password-->
      <div class="form-group">
        <input type="password" class="form-control" id="pwd" placeholder="Enter confim password" name="cpassword" #cpassword="ngModel" (ngModel)="user1.password" required 
        [class.is-invalid]="cpassword.invalid && cpassword.touched">
        <small class="text-danger" [class.d-none]="(cpassword.value ==password.value) || cpassword.untouched">Confirm password and Password is required field</small>
      </div>
      <br>
      <div class="text-center">
      <button [disabled]="registerform.form.invalid" type="submit"class="btn" style="background-color: goldenrod;">Register</button>
    </div>
    </form>
    <br>
    <p class="text-center">Do you have an account? <br><small [routerLink]="['/login']" class="link-warning" >Login</small></p>
   <br>
  </div> 
 <br><br><br>